<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sym.myboot.mapper.master.MasterUserMapper">
    <sql id="BASE_TABLE">
        user
    </sql>
    <sql id="BASE_COLUMN">
        id,name,age,password
    </sql>

    <insert id="insert" parameterType="com.sym.myboot.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,password,
            <if test="age!=null">
                age
            </if>
        </trim>
        <trim prefix=" VALUE(" suffix=")" suffixOverrides=",">
            #{name,jdbcType=VARCHAR},#{password},
            <if test="age!=null">
                #{age}
            </if>
        </trim>
    </insert>

    <select id="selectById" resultType="com.sym.myboot.entity.User">
        select
        <include refid="BASE_COLUMN"/>
        from
        <include refid="BASE_TABLE"/>
        where id=#{id}
    </select>

    <select id="selectAll" resultType="com.sym.myboot.entity.User">
        select * from sys_user
    </select>

    <select id="getUserById" resultType="com.sym.myboot.entity.User">
        select * from sys_user where id = #{id}
    </select>

    <update id="updateUserById" parameterType="com.sym.myboot.entity.User">
        update sys_user
        <trim prefix="set" suffixOverrides=",">
            <if test="name !=null">name = #{name},</if>
            <if test="age !=null">age = #{age},</if>
            <if test="type !=null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>
</mapper>